@import "variables";
@import "mixins";

.App {
  max-width: 100%;
  padding: 20px;
  text-align: center;

  @include for-tablet-up {
    max-width: 700px;
    margin: 0 auto;
  }

  .error {
    color: $error-color;
    font-size: 16px;
  }
}
